@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 30px auto;
    padding: 0 30px;
    max-width: 100%;
}

.card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 42px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 28px;
}

section img {
    width: 6rem;
    max-width: 100%;
    border-radius: 50%; 
    margin-bottom: 30px;
}

h2.name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

h4.local {
    font-size: 13.5px;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin-bottom: 30px;
}

p.bio {
    font-size: 13.5px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 14px;
}

button {
    width: 300px;
    max-width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.9px;
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: black;
}

button:active {
    background-color: hsl(0, 0%, 20%);
}

@media (max-width: 600px) {
    * {
        font-size: 1rem;
    }

    .container {
        margin: 15px auto;
        padding: 0 30px;
    }

    h2.name {
        font-size: 1.8rem;
    }
    
    h4.local {
        font-size: 1rem;
    }
    
    p.bio {
        font-size: 0.95rem;
    }

    button {
        font-size: 1rem;
        padding: 1rem;
    }
}